@import url("https://fonts.googleapis.com/css2?family=Kavoon&family=Sanchez&display=swap");
.App {
	text-align: center;
}

form {
	padding: 10px;
}

.input {
	margin: 10px;
	border-radius: 8px;
	border: none;
}

.btn {
	padding: 10px;
	margin: 10px 5px;
	cursor: pointer;
	border-radius: 10px;
	background-color: #666;
	color: aliceblue;
}

.btn:hover {
	background-color: #999;
	color: aquamarine;
}

.header .h1 {
	font-size: 2rem;
	padding: 15px;
	color: aliceblue;
	font-family: "Sanchez", serif;
	font-weight: bold;
}

.header {
	display: flex;
	justify-content: space-between;
	background: #333;
}
#search {
	display: flex;
}

#search input {
	margin-right: auto;
	min-width: 50%;
}

#login-page {
	display: none;
}

.login-btn {
	font-size: 1.25rem;
	border: none;
	background: none;
	color: #61dafb;
	padding: 5px;
	font-weight: bold;
	margin: 20px 50px 0 0;
	cursor: pointer;
}

.login-btn:hover {
	color: #a9dceb;
	transform: scale(1.1);
}

.click-me {
	padding: 10px;
	border-radius: 8px;
	color: #f1356d;
	background-color: #333;
	border: none;
	cursor: pointer;
}
.click-me:hover {
	background: #ce1c51;
	color: #333;
}

#fom {
	margin-inline-start: auto;
}

#search input {
	border-style: none;
}

.blogs {
	width: 500px;
	margin: auto;
}
.blog-preview {
	padding: 10px 16px;
	margin: 20px 0;
	border-block-end: 1px solid #fafafa;
	border-radius: 8px;
}

.blog-preview:hover {
	box-shadow: 1px 3px 8px #999;
	cursor: pointer;
}

.blog-preview h2 {
	font-size: 1.25rem;
	color: #f1356d;
	margin-block-end: 8px;
}
.blog-preview p {
	font-size: 1.25rem;
	color: #333;
}

.blog-preview p span {
	font-weight: bold;
	color: #3b465e;
}
i {
	color: #ce1c51;
}
.del-btn {
	margin: auto;
}
.del {
	background: #ce1c51;
	color: #fafafa;
	border: none;
	border-radius: 10px;
	margin: 10px;
	cursor: pointer;
	font-size: 0.55rem;
}
.del:hover {
	background: #333;
	color: #ce1c51;
}

.navbar-menu {
	display: flex;
}

.navbar-menu li {
	list-style: none;
	margin: 5px;
	padding: 10px;
	font-size: 1.5rem;
}
.navbar-menu li a {
	color: #ee668f;
	text-decoration: none;
}
.navbar-menu li a:hover {
	color: #f399b4;
}

.blog-preview .link {
	text-decoration: none;
	color: #333;
}

.blog-details h2,
p {
	text-align: center;
	color: #f1356d;
}
.blog-details p span {
	color: #3b465e;
}
.blog-details {
	max-width: 720px;
	text-align: left;
	margin: auto;
}

@media screen and (max-width: 860px) {
	.header .h1 {
		font-size: 1.5rem;
	}

	#login-page {
		padding: 5px;
	}
}

.create {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

.create label {
	text-align: left;
	display: block;
}
.create h2 {
	font-size: 20px;
	color: #f1356d;
	margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
	width: 100%;
	padding: 6px 10px;
	margin: 10px 0;
	border: 1px solid #ddd;
	box-sizing: border-box;
	display: block;
}
.create button{
	background: #f1356d;
	color: #fafafa;
	border: 0;
	padding: 8px;
	border-radius: 8px;
	cursor: pointer;
}